@{
	ViewData["Title"] = "Admin Paneli";
}

@model List<PostViewModel>

<div class="text-center">
	<h1>Admin Paneli</h1>
	<a asp-controller="Post" asp-action="Create" class="btn btn-primary">Yeni Post Ekle</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Başlık</th>
			<th>İçerik</th>
			<th>Yazar</th>
			<th>Kategori</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Text</td>
				<td>@item.Publisher</td>
				<td>@item.Category.Name</td>
				<td>
					<a class="btn btn-primary" asp-controller="Post" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
				</td>
				<td>
					<a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="col-md-2 offset-5">
	<nav aria-label="Page navigation example">
		<ul class="pagination">

			<li class="page-item @(ViewBag.page == 1 ? "disabled":"")">
				<a class="page-link" asp-controller="Post" asp-action="AdminDashboard" asp-route-page="@(ViewBag.page - 1)">Previous</a>
			</li>

			@for (int i = 1; i <= @ViewBag.totalPage; i++)
			{
				
				<li class="page-item">
					<a asp-controller="Post" asp-action="AdminDashboard" asp-route-page="@i" class="page-link">@i</a>
				</li>
			}

			<li class="page-item @(ViewBag.page == ViewBag.totalPage ? "disabled":"")">
				<a class="page-link" asp-controller="Post" asp-action="AdminDashboard" asp-route-page="@(ViewBag.page + 1)">Next</a>
			</li>

		</ul>
	</nav>
</div>

